@model YMS.EfCoreTutorial.Models.CreateEmployeeModel
@{
    Layout = "_Layout";
}



<form method="post" action="/Home/Create">
    <div class="mb-3">
        <label  class="form-label">Name :</label>
        <input type="text" class="form-control" name="Name">
        
    </div>
    <div class="mb-3">
        <label class="form-label">Surname :</label>
        <input type="text" class="form-control" name="Surname">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
